/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-title-color: #000028;
  --title-color: #db00ff;
  --decor-color: #ff0070;
  --title-shadow: #ff0070;
}
