/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-title-color: #353430;
  --title-color: #ffc2e6;
  --decor-color: #353430;
  --title-shadow: #ff8dcb;
  --button-hover-color: #32312D66;
  --link-hover-color: #353430;
  --link-focus-color: #353430;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --accent-title-color: #353430;
    --title-color: #ffc2e6;
    --decor-color: #353430;
    --title-shadow: #ff8dcb;
    --button-hover-color: #32312D66;
    --link-hover-color: #353430;
    --link-focus-color: #353430;
  }

  .theme-auto .header__rec {
    display: none;
  }
}
